.App {
  text-align: center;
}

.boton{
  background-color:#2E9496;
  width:8rem;
  color:white;
}

.titulos{
  color:#2E9496;
  font-size:4rem
}

.imagen{
  background-position:center;
  background-size:cover;
  color:white;
  height:100%
}

.type{
  font-family: 'Special Elite', cursive;
}